.Contact_Top {
  background-color: var(--color-blue);
  padding-top: 60px;
}

.Contact_Top .texts {
  width: 800px;
  margin: auto;
  text-align: center;
}

.Contact_Top .texts h2 {
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #212529;
}
.Contact_Top .texts p {
  font-family: var(--font-family-roboto);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 70px;
}
